h1 {
	text-align: center; 
	color: darkblue;
}
h4 {
	color: blueviolet;
	
}

p {
	color: darkslategray
		
}

body {
	background-color: aliceblue
}

li {
	color: rebeccapurple
}

h3 {
	color:rebeccapurple
}

.img1 {
	height: 20%;
		weight: 20%
}

p {
	color: darkslateblue
}




